.container {
	overflow: hidden;
	width: 960px;
	margin: 0 auto;
}

/*--Main Image Preview--*/
.main_image {
	width: 480px; height: 285px;
	float: left;
	background: #333;
	position: relative;
	overflow: hidden;
	color: #fff;
}
.main_image h4 {
	font-size: 1.6em;
	font-weight: normal;
	margin: 0px;	padding: 10px 10px 0px 10px;
}
.main_image p {
	font-size: 1.0em;
	padding: 0px 0px 3px 9px;	margin: 0;
	line-height: 1.6em;
}
.block small { 
	padding: 0 0 0 0px; 
	font-size: 0.8em;
}
.main_image .block small {margin-left: 10px;}
.main_image .desc{
	position: absolute;
	bottom: 0;	left: 0;
	width: 100%;
	display: none;
}
.main_image .block{
	width: 100%;
	background: #111;
	border-top: 1px solid #000;
}
.main_image a.collapse {
	background: url(../image/common/btn_collapse.gif) no-repeat left top;
	height: 27px; width: 93px;
	text-indent: -99999px;
	position: absolute; 
	top: -27px; right: 20px; 
}
.main_image a.show {background-position: left bottom;} 


.image_thumb {
	float: left;
	width: 478px;
	background: #f0f0f0;
	border-right: 1px solid #fff;
	border-top: 1px solid #ccc;
}
.image_thumb img {
	border: 1px solid #ccc; 
	padding: 5px; 
	background: #fff; 
	float: left;
}
.image_thumb ul {
	margin: 0; padding: 0;
	list-style: none;
}
.image_thumb ul li{
	margin: 0; padding: 9px 10px;
	width: 459px;
	float: left;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	border-right: 1px solid #ccc;
}
.image_thumb ul li.hover {
	background: #ddd;
	cursor: pointer;
}
.image_thumb ul li.active {
	background: #fff;
	cursor: default;
}
html .image_thumb ul li h4 {
	font-size: 1.0em; 
	margin: 0px 0px 1px 0px; padding: 0;
}
.image_thumb ul li .block {
	float: left; 
	margin-left: 10px;
	padding: 0;
	width: 378px;
}	
.image_thumb ul li p{display: none;}
